{% extends 'base.html' %}

{% block content %}
  <section class="about-us">
    <div class="container">
      <h3>About RateFlix</h3>
<p>Movie Rating is a platform designed for movie enthusiasts.
It allows users to create and manage their profiles, adding their favorite movies to a personalized library.
Users can also rate movies based on their personal preferences, helping others discover hidden gems or avoid disappointments.</p>

<h3>Features</h3><br>
<p><strong>Profiles:</strong> Every user has their own profile, where they can keep track of their favorite movies and ratings.<br>
<strong>Favorite Movies:</strong> Add movies to your favorites list for quick access and recommendations based on your taste.<br>
<strong>Rating System:</strong> Express your opinion by rating movies, helping the community find the best films.<br>
<strong>Library Management:</strong> Easily organize and maintain your personal movie library with our intuitive interface.<br>
<strong>Contribute:</strong> Contribute to the community by adding new movies and sharing your insights.<br>
Join our community today and start discovering, rating, and sharing your love for movies with Movie Rating!</p>
    </div>
  </section>
  <section class="pt-3 pb-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 mx-auto py-3">
          <div class="row">
            <div class="col-md-4 position-relative">
              <div class="p-3 text-center">
                <h1 class="text-gradient">{{ num_movies }}+</h1>
                <h3 class="mt-3">Movies</h3>
                <p class="text-sm font-weight-normal">.....</p>
              </div>
            </div>

            <div class="col-md-4 position-relative">
              <div class="p-3 text-center">
                <h1 class="text-gradient">{{ num_genres }}+</h1>
                <h3 class="mt-3">Genres</h3>
                <p class="text-sm font-weight-normal">.....</p>
              </div>
            </div>

            <div class="col-md-4">
              <div class="p-3 text-center">
                <h1 class="text-gradient">{{ num_users }}+</h1>
                <h3 class="mt-3">Users</h3>
                <p class="text-sm font-weight-normal">.....</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
