{% extends "base.html" %}

{% block content %}
  <h1>
  Movie
    <a href="{% url 'movie_rating:movie-delete' pk=movie.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'movie_rating:movie-update' pk=movie.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
    {% if movie in user.wishlist.all %}
      <a href="{% url 'movie_rating:toggle_wishlist' pk=movie.pk %}" class="btn btn-primary link-to-page">Remove from wishlist</a>
    {% else %}
      <a href="{% url 'movie_rating:toggle_wishlist' pk=movie.pk %}" class="btn btn-warning link-to-page">To wishlist</a>
    {% endif %}
  </h1>
  <p>{{ movie }}</p>
  <h3>Description</h3>
  <p class="col-sm-6">{{ movie.description }}</p>
  <h3>
    Ratings
  </h3>
  {% for rating in movie.ratings.all %}
    <hr>
    <p>
      <a href="{% url 'movie_rating:visitor-detail' pk=rating.sender.pk %}">{{ rating.sender }}</a>
      {% if rating.sender == user %}
        <a class="btn btn-primary" href="{% url 'movie_rating:rating-update' movie_pk=movie.pk pk=rating.pk %}">Update</a>
        <a class="btn btn-warning" href="{% url 'movie_rating:rating-delete' movie_pk=movie.pk pk=rating.pk %}">Delete</a>
      {% endif %}
    </p>
    {% for item in max_value %}
      {% if item < rating.value %}
        <span style="font-size: 24px; color: gold;" class="star">&#9733;</span>
      {% else %}
        <span style="font-size: 24px; color: gold;" class="star">&#9734;</span>
      {% endif %}
    {% endfor %}
    <br>
    {{ rating }}
  {% endfor %}
  <hr>
{% if user.is_authenticated %}
    {% if user not in movie.ratings.sender %}
        <a class="btn btn-primary" href="{% url 'movie_rating:rating-create' pk=movie.pk %}">Add Rating</a>
    {% endif %}
{% else %}
    <p>Please log in to leave a rating.</p>
{% endif %}
{% endblock %}
