{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>{{ object|yesno:"Update,Create" }} Rating</h1>
  <form action="" method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}

    <input type="submit" value="Submit" class="btn btn-primary">
    {% if pk %}
      <a class="btn btn-primary" href="{% url 'movie_rating:movie-detail' pk=pk %}">Cancel</a>
    {% else %}
      <a class="btn btn-primary" href="{% url 'movie_rating:movie-detail' pk=rating.id %}">Cancel</a>
    {% endif %}
  </form>
{% endblock %}
