{% extends "base.html" %}
{% load static %}

{% block content %}
  <div style="display: flex" class="centered">
    <div class="profile-photo col-sm-4" style="margin: 20px 0;">
      <img style="height: 80%; margin-top: 25px" src="{% static 'avatars/nibbler.jpg' %}">
{#      <img src="{{ visitor.avatar.url }}" alt="{{ visitor.username }} Avatar" width="120" height="120">#}
    </div>
    <div>
      <h1>
        {{ visitor.username }} profile
        {% if user == visitor %}
          (You) <br>
          <a href="{% url 'movie_rating:avatar-change' pk=visitor.id %}" class="btn btn-secondary link-to-page">
          Change avatar
          </a>
        {% endif %}
        {% if user == visitor %}

          <a href="{% url 'movie_rating:visitor-update' pk=visitor.id %}" class="btn btn-secondary link-to-page">
            Update
          </a>

          <a href="{% url 'movie_rating:visitor-delete' pk=visitor.id %}" class="btn btn-danger link-to-page">
            Delete
          </a>

        {% endif %}
      </h1>
      <p>First name: {% if visitor.first_name %}{{ visitor.first_name }}{% else %}Not entered{% endif %}</p>
      <p>Last name: {% if visitor.last_name %}{{ visitor.last_name }}{% else %}Not entered{% endif %}</p>
      <p>Email: {% if visitor.email %}{{ visitor.email }}{% else %}Not entered{% endif %}</p>
    </div>
  </div>
  <hr>
  <h1 class="align-center display-4">
    Wishlist
  </h1>
  <ul class="wishlist">
    {% for movie in visitor.wishlist.all %}
      <div class="model-show">
        <div class="col-sm-3 pl-0">
          {% if movie.poster %}
            <img style="border-radius: 20px;max-width: 200px;max-height: 280px;width: auto;height: 100%;" src="{{ movie.poster.url }}" alt="{{ movie.title }}" class="poster-image">
          {% else %}
            <p>No poster available</p>
          {% endif %}
        </div>
        <div class="col-sm-9">
          <a class="model-instance" href="{% url 'movie_rating:movie-detail' pk=movie.pk %}"><strong>{{ movie }}</strong></a>
          {% if movie.description|length > 100 %}
            <p class="model-text">{{ movie.description|slice:":100" }}...</p>
          {% else %}
            <p class="model-text">{{ movie.description }}</p>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </ul>
{% endblock %}
