{% extends "base.html" %}

{% block content %}
  <h1>
    Visitor
    <a href="{% url 'movie_rating:visitor-delete' pk=visitor.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'movie_rating:visitor-update' pk=visitor.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>
  <p>{{ visitor }}</p>
  <h1>
    Wishlist

{#    {% if car in user.cars.all %}#}
{#      <a href="{% url 'movie_rating:toggle-movie-assign' pk=movie.id %}" class="btn btn-danger link-to-page">#}
{#        Delete me from this car#}
{#      </a>#}
{#    {% else %}#}
{#      <a href="{% url 'movie_rating:toggle-movie-assign' pk=movie.id %}" class="btn btn-success link-to-page">#}
{#        Assign me from this car#}
{#      </a>#}
{#    {% endif %}#}
  </h1>
  <hr>
  <ul>
    {% for item in visitor.wishlist.all %}
      <li>{{ item }}</li>
    {% endfor %}
  </ul>
{% endblock %}
