{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>RateFlix</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">
</head>
<body class="body">
{% block header %}
  {% include "includes/header.html" %}
{% endblock %}


<div class="container-fluid mt-1">
    <div class="row">
        <div class="col-sm-1">
          {% block left_content %}
          {% endblock %}
        </div>
        <div class="col-sm-10 main_content rounded">
          {% block content %}
          {% endblock %}

          {% block pagination %}
            {% include "includes/pagination.html" %}
          {% endblock %}
        </div>
        <div class="col-sm-1">
          {% block right_content %}
          {% endblock %}
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
{% block footer %}
  {% include 'includes/footer.html' %}
{% endblock %}
</html>
